
html {
  touch-action: manipulation;
}

body {
  margin: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body * {
  box-sizing: border-box;
}
::-webkit-input-placeholder {
  color: #ccc;
  font-weight: 100;
}


body, input, textarea {
  font-size: 16px;
  font-family: Hind, Arial, sans-serif;
}

